<!DOCTYPE html>
<html lang="en"><head>
	<title>Husky Banking</title>
	<link rel="stylesheet" href="/static/base.css">
<link type="image/x-icon" rel="shortcut icon" href="static/images/Icon/johnathan.ico"></head>



<body style="background-image: url(&quot;static/images/Spring_Fog.jpg&quot;);">
	<form id="mainHandler" method="post" style="background-image: url(&quot;static/images/husky_qa.jpg&quot;);">
		<h1 id="loginHeader">Husky Banking</h1>
		<p id="slogan">A bank where you know your money is in the right paws!</p>
		<!-- used for inheratance, this is where the baseLogin block will be placed -->

		<!-- login tag that prevents cross scripting -->
		
		 

		<!-- Input objects being called through the login class that is passed through -->
		<p id="userInput"> <label for="username">Username</label>: <input id="username" name="username" required="" size="32" type="text" value="" fdprocessedid="fxgmjq"> </p>

		<p id="passInput"> <label for="password">Password</label>: <input id="password" name="password" required="" size="32" type="password" value="" fdprocessedid="xxl5gu"> </p>

		<p id="signIn"><input id="submit" name="submit" type="submit" value="Sign In" fdprocessedid="luchy"></p>

		
		<p id="customPage"> <input id="customPage" name="customPage" type="submit" value="Custom Page" fdprocessedid="tgk34h"></p>
		

		<!-- Where the login block is placed -->
		

    <div id="johnathan"></div>

    <!-- call the javascript file which changes the images within the login page -->
    <script src="/static/js/imageJS.js">
    </script>


	</form>

</body></html>